@use "../../styles/variables.scss" as *;

.category-links {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0 auto;
  width: 100%;

  &:has(button.category-links-header.collapsed) {
    flex: 0 1 1.4rem;
  }

  .category-list.collapsed {
    display: none;
  }
}
