@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0.5 auto;

  &:has(button.toc-header.collapsed) {
    flex: 0 1 1.4rem;
  }
}

ul.toc-content.overflow {
  position: relative;
  max-height: calc(100% - 2rem);
  overscroll-behavior: contain;

  & > li > a {
    transition:
      opacity 0.2s ease,
      color 0.2s ease;
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(0.85rem * #{$i});
    }
  }
}
